XSD/MT_GoodsItem.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns="http://MT.BTS.DataExchange.MT_GoodsItem" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ns0="https://MT.BTS.DataExchange.PropertySchema" xmlns:ns2="https://Core.Route.Schema.GlobalPropertySchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://MT.BTS.DataExchange.MT_GoodsItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <b:schemaInfo root_reference="GoodsItemList" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
      <b:imports>
        <b:namespace prefix="ns2" uri="https://Core.Route.Schema.GlobalPropertySchema" location="A1.MT.GlobalPropertySchema" />
      </b:imports>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="GoodsItemList">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo notes="Список товаров клиента" />
        <b:properties>
          <b:property name="ns2:CustomerCode" xpath="/*[local-name()='GoodsItemList' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']/*[local-name()='ListHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']/*[local-name()='CustomerCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']" />
          <b:property name="ns2:SupplierCode" xpath="/*[local-name()='GoodsItemList' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']/*[local-name()='ListHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']/*[local-name()='SupplierCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']" />
          <b:property name="ns2:ProjectCode" xpath="/*[local-name()='GoodsItemList' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']/*[local-name()='ListHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']/*[local-name()='ProjectCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']" />
          <b:property name="ns2:StockCode" xpath="/*[local-name()='GoodsItemList' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']/*[local-name()='ListHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']/*[local-name()='StockCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_GoodsItem']" />
        </b:properties>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListHeader">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Заголовок списка" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код сообщения" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="CustomerCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SupplierCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код поставщика" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="ProjectCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код проекта клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="StockCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код склада" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DisableIgnoreError" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Отключение игнорирование ошибок" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="GoodsItems">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Список" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="GoodsItem">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Описание одного элемента товарного справочники" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Number" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Уникальный номер товара в WMS" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="Article" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Артикул (уникален для каждого товара)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BarCode" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Краткое наименование товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="GoodsName2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Наименование товара2" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Полное описание товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="EngDescription" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Полное описание на английском" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация о товаре" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация о товаре" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory3" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация о товаре" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory4" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация о товаре" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory5" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация о товаре" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="BaseUOM" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Базовая единица измерения" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="MinimumShipUOM" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes=" Минимальная ЕИ для отгрузки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemGroup" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Товарная группа" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="TradeMark" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Торговая марка" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Composition" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Состав" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ProductLine" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Продуктовая линия" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="CostCenter" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Центр ответственности" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="DaysBeforeExpired" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Количество дней от даты производства до истечения срока годности" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="MadeBy" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Страна производитель" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Manufacter" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Данные изготовителя" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Vendor" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Данные постащика" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Seller" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Данные продавца" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="OutboundSNTracking" type="xs:boolean">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Признак трассировки по внешнему серийному номеру" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="TemplateCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код для создания товара по предварительным настройкам в WMS" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="PercentOfCount" type="xs:int" />
                    <xs:element minOccurs="0" name="ItemCharacterType" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код характеристики груза" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ItemCharacterTypeDesc" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Описание характеристики груза" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ItemCharacterTypeLevel" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Уровень опасности характеристики груза" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="GoodsPacks">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:recordInfo notes="Информация о упаковках товара" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="GoodsPack">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:recordInfo notes="Единица измерения" />
                              </xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="1" maxOccurs="1" name="GoodsPackName" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Наименование единицы измерения" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="1" maxOccurs="1" name="Capacity" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Коэффициент единицы измерения" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="Length" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Длинна упаковки (метров)" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="Width" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Ширина упаковки (метров)" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="Height" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Высота упаковки (метров)" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="Weight" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Вес упаковки (килограмм)" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Volume" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Объем" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BarCodes">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:recordInfo notes="Информация о штрих-кодах" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="BarCode">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:recordInfo notes="Штрих-код" />
                              </xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="1" maxOccurs="1" name="Code" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Код" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="UOM" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Единица измерения (если есть связь)" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Articles">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:recordInfo notes="Список дополнительных артикулов к товару" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="Article" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Артикул" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Components">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:recordInfo notes="Список артикулов, которые являются комплектующими для данного товара (комплекта)." />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Component">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Article" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Артикул" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="UOM" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Единица Измерения" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Quantity" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Количество артикулов в комплекте" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="DimensionType" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Мерность" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="HazardClass" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Класс опасности" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Primary" type="xs:boolean" />
                    <xs:element minOccurs="0" maxOccurs="1" name="MarkedByHS" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Маркировка Честный Знак" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Guid" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Уникальный идентификатор товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemTrackingType" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Тип трассировки товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Pictures">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:recordInfo notes="Список изображений товара" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Picture">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:recordInfo notes="Изображение товара" />
                              </xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:int">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Тип записи" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Значение записи" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductLineList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ProductLine" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Version" type="xs:string" />
                    <xs:element name="Model" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Модель товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Color" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Цвет товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Size" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Размер(для одежды)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LabelBase64" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Стикер в Base64" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LabelExtension" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="CustomerItemCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код товара в системе клиента" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="StickerNo" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="TemperatureStorageConditions" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Температурный режим хранения" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="TemperatureTranspConditions" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Температурный режим транспортировки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="MarketplaceIdentifierList">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:recordInfo notes="Список идентификаторов товара на стороне маркетплейсов" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="MarketplaceIdentifier">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:recordInfo notes="Идентификаторы товара на стороне маркетплейса" />
                              </xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="1" maxOccurs="1" name="MarketplaceCode" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Код маркетплейса" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="1" maxOccurs="1" name="MarketplaceProduct" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Идентификатор товара создаваемый на стороне маркетплейса" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="CustomerProduct" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Идентифиатор товара сгенерированный на стороне продавца" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="UnitOfMeasureCode" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="Единица измерения варианта идентификатора маркетплейса.  Если не заполнена - заполняется как базовая ЕИ товара" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="LinkFile" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
