XSD/MT_PackingReport.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns="http://MT.BTS.DataExchange.MT_PackingReport" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://MT.BTS.DataExchange.MT_PackingReport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <b:schemaInfo root_reference="PackingReport" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="PackingReport">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo notes="Отчет по комплектации товаров" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ReportHeader">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Заголовок отчета" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код сообщения" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="CustomerCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SupplierCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код поставщика" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="ProjectCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код проекта клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="StockCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код склада" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="PackingHeader">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Заголовок документа на комплектацию товаров" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="RequestNumber" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер заявки, в рамках которой создаются заказы" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="WarehouseOrderNumber" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер заказа, в рамках которого создаются документы" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="PackingNumber" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер документа на отгрузку товаров" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="PackingDate" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Дата документа на отгрузку товаров" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="PackingFactDate" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Фактическая дата комплектации товаров" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="1" name="PackingReference1" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные заказа 1" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="1" name="PackingReference2" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные заказа 2" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="1" name="PackingReference3" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные заказа 3" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="1" name="PackingReference4" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные заказа 4" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="1" name="PackingReference5" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные заказа 5" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="1" name="PackingReference6" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные заказа 6" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="1" name="PackingReference7" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные заказа 7" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="1" name="PackingReference8" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные заказа 8" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="1" name="PackingReference9" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные заказа 9" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="1" name="PackingReference10" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные заказа 10" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="PackingRows">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Строки отчета" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="PackingRow">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Строка отчета по отгрузке товаров" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="LineNo" type="xs:int" />
                    <xs:element minOccurs="1" maxOccurs="1" name="Article" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Артикул товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Barcode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Штрихкод товара " />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
					<xs:element minOccurs="0" maxOccurs="1" name="CustomerItemCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код товара в системе клиента " />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="UOM" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Единица измерения" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Количество" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ParentSerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Родительское грузоместо" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер партии (Технический)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BestBeforeDate" type="xs:dateTime">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Срок годности" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField1" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Лот (поле 1)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Лот (поле 2)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField3" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Лот (поле 3)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField4" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Лот (поле 4)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField5" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Лот (поле 5)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BatchCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер партии" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Серийный номер товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Project" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="BlockingReasonCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код причины блокировки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotBlockingReasonExternalCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Внешний код причины блокировки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="HonestSignRows">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="HonestSignRow">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="HonestSignPack">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="HonestSignValue" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="PackingReport-Summary">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="TotalLines" type="xs:int" />
              <xs:element minOccurs="1" maxOccurs="1" name="TotalPackages" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
