XSD/MT_PermitStatusReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://MT.BTS.DataExchange.MT_PermitStatusReport"
           xmlns="http://MT.BTS.DataExchange.MT_PermitStatusReport"
           elementFormDefault="qualified">

  <xs:element name="PermitStatusReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReportHeader" type="ReportHeaderType"/>
        <xs:element name="CarPermitInfo" type="CarPermitInfoType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ReportHeaderType">
    <xs:sequence>
      <xs:element name="MessageID" type="xs:string"/>
      <xs:element name="CustomerCode" type="xs:string"/>
      <xs:element name="ProjectCode" type="xs:string"/>
      <xs:element name="StockCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CarPermitInfoType">
    <xs:sequence>
      <xs:element name="Status" type="xs:string"/>
      <xs:element name="CarNo" type="xs:string"/>
      <xs:element name="CarMark" type="xs:string"/>
      <xs:element name="Driver" type="xs:string"/>
      <xs:element name="StatusDateTime" type="xs:dateTime"/>
      <xs:element name="PlanDate" type="xs:dateTime"/>
      <xs:element name="ClientPermissionID" type="xs:string"/>
      <xs:element name="MTPermissionID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
