XSD/MT_Receipt.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns="http://MT.BTS.DataExchange.MT_Receipt" xmlns:ns1="https://Core.Route.Schema.GlobalPropertySchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ns0="https://MT.BTS.DataExchange.PropertySchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://MT.BTS.DataExchange.MT_Receipt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <b:schemaInfo root_reference="DocumentReceipt" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
      <b:imports>
        <b:namespace prefix="ns1" uri="https://Core.Route.Schema.GlobalPropertySchema" location="A1.MT.GlobalPropertySchema" />
      </b:imports>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="DocumentReceipt">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo rootTypeName="DocumentReceipt" notes="Документ на приход товаров" />
        <b:properties>
          <b:property name="ns1:CustomerCode" xpath="/*[local-name()='DocumentReceipt' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']/*[local-name()='CustomerCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']" />
          <b:property name="ns1:SupplierCode" xpath="/*[local-name()='DocumentReceipt' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']/*[local-name()='SupplierCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']" />
          <b:property name="ns1:ProjectCode" xpath="/*[local-name()='DocumentReceipt' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']/*[local-name()='ProjectCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']" />
          <b:property name="ns1:StockCode" xpath="/*[local-name()='DocumentReceipt' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']/*[local-name()='StockCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_Receipt']" />
        </b:properties>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DocumentHeader">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Заголовок документа" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код сообщения" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="CustomerCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SupplierCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код поставщика" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="ProjectCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код проекта клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="StockCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код склада" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="EmailRecipients" type="xs:string" />
              <xs:element name="LoadingAsBatch" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="ReceiptHeader">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Заголовок документа на приход" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="RequestNumber" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер заявки, в рамках которой создаются заказы" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="WarehouseOrderNumber" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер заказа, в рамках которого создаются документы" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="ReceiptNumber" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер документа на приход" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ReceiptDate" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Дата документа на приход" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ReceiptPlanDate" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Планируемая дата прихода товаров" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ReceiptPlanPeriod" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Условный период времени прихода товара на склад" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ActionType" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Тип действия" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Urgent" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Признак срочности заявки. 0 - обычная. 1 - срочная." />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CreateGoods" type="xs:boolean">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Флаг создания новых товаров" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="UpdateGoods" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CreateCustomerInfo" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Признак создания записи ожидаемых приходов по грузоместам" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CustomerType" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Тип ожидаемого прихода" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryAgent" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Перевозчик" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="DeliveryDocument" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер накладной" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField1" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 1)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField2" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 2)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField3" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 3)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField4" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 4)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField5" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 5)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField6" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 6)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField7" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 7)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField8" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 8)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField9" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 9)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField10" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 10)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField1" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 1)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField2" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 2)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField3" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 3)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField4" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 4)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField5" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 5)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Sender" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Отправитель" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SenderAddress" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Адрес отправителя" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SenderContacts" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Контакты отправителя" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Комментарий к заявке" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ShipTo">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Получатель груза" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="OnlyFind" type="xs:boolean">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Флаг поиска. Отключает добавление отсутствующих данных." />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код контрагента" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Город доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Адрес доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ContactPhone" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактный телефон" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактный электронный адрес" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Index" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Индекс" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Priority" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Приоритет адреса" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Комментарий" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ReceiptGUID" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный идентификатор заказа" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="ReceiptRows">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Строки прихода товаров" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="ReceiptRow">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Строка прихода товаров" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="LineNo" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер строки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LineGUID" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Уникальный идентификатор строки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemGUID" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="GUID товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="CustomerItemCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код товара в ERP системе клиента" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="Article" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Артикул товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Barcode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Штрихкод товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="GoodsName" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Наименование товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ItemExchangeTemplateCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код обмена шаблона создания новых товаров" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="UOM" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Единица измерения" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Количество" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField1" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField3" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField4" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField5" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField6" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField7" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField8" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField9" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField10" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="DateManufacture" type="xs:dateTime">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дата производства" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BestBeforeDate" type="xs:dateTime">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Срок годности" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BatchCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер партии" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField1" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные партии" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные партии" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField3" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные партии" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField4" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные партии" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField5" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные партии" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер партии (Технический лот)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotCostCenter" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Центр ответственности партии" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemSerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Серийный номер товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="SerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Серийный номер грузоместа" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ParentSerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Серийный номер грузоместа, к которому принадлежит вложение" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Price" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Цена за 1 единицу без НДС" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="PriceInclVAT" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Цена за 1 единицу c НДС" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Width" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Ширина 1 единицы" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Length" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Длина 1 единицы" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Height" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Высота 1 единицы" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Weight" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Вес 1 единицы" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Volume" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Объем единицы товара. Загружается, только если у длины\ширины\высоты отсутствуют значения" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemGroup" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Товарная группа" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="TradeMark" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Торговая Марка" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Composition" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Состав" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="CostCenter" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Центр ответственности" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Изготовитель" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Категория товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Категория товара 2" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory3" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Категория товара 3" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory4" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Категория товара 4" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory5" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Категория товара 5" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ProductLine" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Товарная линия" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="TrackingCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код трассировки товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference1" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference3" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference4" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference5" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference6" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference7" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference8" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference9" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference10" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference11" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference12" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference13" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference14" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference15" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference16" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference17" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference18" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference19" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference20" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дополнительная информация товара данной поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SNQty" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Количество серийныйх номеров" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="AWB" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="AWB" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="TTH" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Товарно-транспортная накладная" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SerialNoLength" type="xs:decimal" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SerialNoWidth" type="xs:decimal" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SerialNoHeight" type="xs:decimal" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SerialNoVolume" type="xs:decimal" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SerialNoWeight" type="xs:decimal" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ShipToAddressCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код адреса поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCharacterType" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="CDNumber" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер ГТД" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="CDLine" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номе строки ГТД" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="CDCountry" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Страна ГТД" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Barcodes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="1" name="Barcode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="VendorSerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Серийный Номер Поставщика" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="MarkedByHS" type="xs:int" />
                    <xs:element minOccurs="0" maxOccurs="1" name="GoodsName2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Наименование товара2" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="New_LotField1" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="New_LotField2" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="New_LotField3" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="New_LotField4" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="New_LotField5" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="HonestSignType" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Тип ЧЗ" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="HonestSignRows">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="HonestSignRow">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="HonestSignPack" type="xs:string" />
                                <xs:element maxOccurs="unbounded" name="HonestSignValue" type="xs:string">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <b:fieldInfo notes="ЧЗ в base64" />
                                    </xs:appinfo>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PO" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="PO" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="PO_LineNo" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер строки PO" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory6" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Категория товара 6" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory7" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Категория товара 7" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory8" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Категория товара 8" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemCategory9" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Категория товара 9" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemTrackingType" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Тип трассировки товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Base64HonestSign" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Model" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Модель товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Color" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Цвет товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Size" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Размер (для одежды)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="CarInfo">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Информация о машине" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Driver" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Водитель" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CarMark" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Марка машины" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CarNo" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер машины" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CarTrailer" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер прицепа ТС" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DriverPhoneNumber" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="PlanEntranceDate" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="License" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер ВУ" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="Comment" type="xs:string" />
              <xs:element minOccurs="0" name="GUID" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный идентификатор пропуска" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ReceiptSummary">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="TotalPcsCalc" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="InnerCheck">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ReporterSender" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ReporterEmail" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ReporterPhone" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PackageRows">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageRow">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PackageType" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Тип упаковки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="SerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Серийный номер" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Cubage" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Объём (куб.м)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Weight" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Вес(кг)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Length" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Длина (метры)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Width" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Ширина (метры)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Height" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Высота (метры)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="LinkFile" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
