XSD/MT_ShipmentUpdate.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns="http://MT.BTS.DataExchange.MT_ShipmentUpdate" xmlns:ns1="https://Core.Route.Schema.GlobalPropertySchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ns0="https://MT.BTS.DataExchange.PropertySchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://MT.BTS.DataExchange.MT_ShipmentUpdate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <b:imports xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
        <b:namespace prefix="ns1" uri="https://Core.Route.Schema.GlobalPropertySchema" location="A1.MT.GlobalPropertySchema" />
      </b:imports>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="ShipmentUpdate">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo notes="Документ на обновление параметров заявки" />
        <b:properties>
          <b:property name="ns1:CustomerCode" xpath="/*[local-name()='ShipmentUpdate' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']/*[local-name()='CustomerCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']" />
          <b:property name="ns1:SupplierCode" xpath="/*[local-name()='ShipmentUpdate' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']/*[local-name()='SupplierCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']" />
          <b:property name="ns1:ProjectCode" xpath="/*[local-name()='ShipmentUpdate' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']/*[local-name()='ProjectCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']" />
          <b:property name="ns1:StockCode" xpath="/*[local-name()='ShipmentUpdate' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']/*[local-name()='StockCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_ShipmentUpdate']" />
        </b:properties>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DocumentHeader">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Заголовок документа" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код сообщения" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="CustomerCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SupplierCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код поставщика" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="ProjectCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код проекта клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="StockCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код склада" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LoadingAsBatch" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="ShipmentData">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Заголовок документа на отгрузку" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="ShipmentNumber" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер заявки, в рамках которой создаются заказы" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NecessaryDate" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Требуемая дата отгрузки" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NecessaryTime" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Требуемое время отгрузки" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ActionType" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Тип действия в системе" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Urgent" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Признак срочности заявки. 0 - обычная. 1 - срочная." />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ShipTo">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Контрагент грузополучатель" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="OnlyFind" type="xs:boolean">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Флаг поиска. Отключает добавление отсутствующих данных." />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код контрагента" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Name2" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Город доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Адрес доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ContactPhone" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактный телефон" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактный электронный адрес" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Index" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Индекс" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Priority" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Приоритет адреса" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Комментарий" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="MarketplaceCode1" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Идентификатор заказа маркетплейса 1" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="MarketplaceCode2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Идентификатор заказа маркетплейса 2" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="MarketplaceCode3" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Идентификатор заказа маркетплейса 3" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="AddressType" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Тип адреса" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Область" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Province" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Район" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Улица" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="House" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дом" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Building" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Корпус/Строение" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Apartment" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Квартира/Офис" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="DeliveryTerminal" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Терминал доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BankAccount">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="1" name="OnlyFind" type="xs:boolean">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Поиск по коду" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Код" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Наименование" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Адрес" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Город" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="PostCode" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Почтовый Индекс" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Контакт" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Телефон" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Страна" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="E-mail" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="E-Mail" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="BankBranch" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Отделение" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="IBANNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="IBAN" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="SWIFTNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="SWIFT Код" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="BIC" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="БИК" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="BankAccountNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Расчетный Счет" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="TransitNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Корр. Счет" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="INN" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="IEC" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="KPPCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ShipToAgent">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Агент получателя" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="OnlyFind" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Флаг поиска. Отключает добавление отсутствующих данных." />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код контрагента" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Город доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Адрес доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ContactPhone" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактный телефон" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактный электронный адрес" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Index" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Индекс" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Priority" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Приоритет адреса" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Комментарий" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="AddressType" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Тип адреса" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Область" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Province" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Район" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Улица" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="House" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дом" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Building" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Корпус/Строение" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Apartment" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Квартира/Офис" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="DeliveryTerminal" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Терминал доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="BankAccount">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="OnlyFind" type="xs:boolean">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Поиск по коду" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Code" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Код" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Name" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Наименование" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Address" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Адрес" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="City" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Город" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="PostCode" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Почтовый Индекс" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Contact" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Контакт" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Phone" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Телефон" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Country" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Страна" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="E-mail" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="E-Mail" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="BankBranch" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Отделение" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="IBANNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="IBAN" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="SWIFTNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="SWIFT Код" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="BIC" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="БИК" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="BankAccountNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Расчетный Счет" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="TransitNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Корр. Счет" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="INN" type="xs:string" />
                          <xs:element minOccurs="0" name="IEC" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="KPPCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryAgent" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Код агента по доставке товара" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryMethod" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Код метода доставки" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryDocument" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер накладной" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryComment" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Комментарий к доставке" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField1" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 1)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField2" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 2)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField3" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 3)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField4" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 4)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField5" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 5)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField6" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 6)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField7" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 7)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField8" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 8)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField9" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 9)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField10" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 10)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField1" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 1)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField2" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 2)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField3" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 3)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField4" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 4)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField5" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 5)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Комментарий к заявке" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ShipmentRows">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Row">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="QtyRefunded" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Количество товара к возврату" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Article" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Артикул товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="CustomerItemCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код товара в системе клиента" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Barcode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="ШК товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="LineNo" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер строки заказа" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
