XSD/MT_Shipment.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns="http://MT.BTS.DataExchange.MT_Shipment" xmlns:ns1="https://Core.Route.Schema.GlobalPropertySchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ns0="https://MT.BTS.DataExchange.PropertySchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://MT.BTS.DataExchange.MT_Shipment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <b:schemaInfo root_reference="DocumentShipment" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" />
      <b:imports>
        <b:namespace prefix="ns1" uri="https://Core.Route.Schema.GlobalPropertySchema" location="A1.MT.GlobalPropertySchema" />
      </b:imports>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="DocumentShipment">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo notes="Документ на отгрузку товаров" />
        <b:properties>
          <b:property name="ns1:CustomerCode" xpath="/*[local-name()='DocumentShipment' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']/*[local-name()='CustomerCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']" />
          <b:property name="ns1:SupplierCode" xpath="/*[local-name()='DocumentShipment' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']/*[local-name()='SupplierCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']" />
          <b:property name="ns1:ProjectCode" xpath="/*[local-name()='DocumentShipment' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']/*[local-name()='ProjectCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']" />
          <b:property name="ns1:StockCode" xpath="/*[local-name()='DocumentShipment' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']/*[local-name()='DocumentHeader' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']/*[local-name()='StockCode' and namespace-uri()='http://MT.BTS.DataExchange.MT_Shipment']" />
        </b:properties>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DocumentHeader">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Заголовок документа" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код сообщения" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="CustomerCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SupplierCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код поставщика" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="ProjectCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код проекта клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="StockCode" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный код склада" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LoadingAsBatch" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="ShipmentHeader">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Заголовок документа на отгрузку" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="RequestNumber" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер заявки, в рамках которой создаются заказы" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="WarehouseOrderNumber" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер заказа, в рамках которого создаются документы" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="ShipmentNumber" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер документа отгрузки" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="ShipmentGUID" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный идентификатор заказа" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ShipmentDate" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Дата документа отгрузки" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NecessaryDate" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Требуемая дата отгрузки" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NecessaryTime" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Требуемое время отгрузки" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CompletedDate" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Требуемая дата готовности груза" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" default="0" name="UnionType" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Тип объединения заявки" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="UnionMark" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Объединяющий признак" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ActionType" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Тип действия в системе" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Urgent" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Признак срочности заявки. 0 - обычная. 1 - срочная." />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CreateGoods" type="xs:boolean">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Флаг создания новых товаров" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="SeparateForBlockingReasonCode" type="xs:boolean" />
              <xs:element minOccurs="0" maxOccurs="1" name="ShipTo">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Контрагент грузополучатель" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="OnlyFind" type="xs:boolean">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Флаг поиска. Отключает добавление отсутствующих данных." />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код контрагента" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Name2" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Город доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Адрес доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ContactPhone" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактный телефон" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактный электронный адрес" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Index" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Индекс" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Priority" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Приоритет адреса" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Комментарий" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="AddressType" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Тип адреса" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Область" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Province" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Район" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Улица" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="House" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дом" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Building" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Корпус/Строение" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Apartment" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Квартира/Офис" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="DeliveryTerminal" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Терминал доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BankAccount">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="1" name="OnlyFind" type="xs:boolean">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Поиск по коду" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Код" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Наименование" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Адрес" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Город" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="PostCode" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Почтовый Индекс" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Контакт" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Телефон" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Страна" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="E-mail" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="E-Mail" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="BankBranch" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Отделение" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="IBANNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="IBAN" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="SWIFTNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="SWIFT Код" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="BIC" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="БИК" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="BankAccountNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Расчетный Счет" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="TransitNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Корр. Счет" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="INN" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="IEC" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="KPPCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ShipToAgent">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Агент получателя" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="OnlyFind" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Флаг поиска. Отключает добавление отсутствующих данных." />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код контрагента" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Город доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Адрес доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактные данные" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ContactPhone" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактный телефон" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Контактный электронный адрес" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Index" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Индекс" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Priority" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Приоритет адреса" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Комментарий" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="AddressType" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Тип адреса" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Область" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Province" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Район" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Улица" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="House" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Дом" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Building" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Корпус/Строение" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Apartment" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Квартира/Офис" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="DeliveryTerminal" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Терминал доставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="BankAccount">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="OnlyFind" type="xs:boolean">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Поиск по коду" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Code" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Код" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Name" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Наименование" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Address" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Адрес" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="City" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Город" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="PostCode" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Почтовый Индекс" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Contact" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Контакт" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Phone" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Телефон" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="Country" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Страна" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="E-mail" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="E-Mail" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="BankBranch" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Отделение" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="IBANNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="IBAN" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="SWIFTNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="SWIFT Код" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="BIC" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="БИК" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="BankAccountNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Расчетный Счет" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="TransitNo" type="xs:string">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Банк Корр. Счет" />
                              </xs:appinfo>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="INN" type="xs:string" />
                          <xs:element minOccurs="0" name="IEC" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="KPPCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DeliveryAgentMethodChooseFromSubstitution" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryAgent" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Код агента по доставке товара" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryMethod" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Код метода доставки" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryDocument" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер накладной" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryDate" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Дата к которой необходимо доставить груз получателю." />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="DeliveryComment" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Комментарий к доставке" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField1" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 1)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField2" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 2)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField3" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 3)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField4" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 4)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField5" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 5)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField6" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 6)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField7" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 7)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField8" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 8)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField9" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 9)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ExtField10" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (поле 10)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField1" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 1)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField2" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 2)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField3" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 3)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField4" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 4)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="LotField5" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Расширенные данные (лот 5)" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Sender" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Отправитель" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SenderAddress" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Адрес отправителя" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="SenderContact" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Контакты отправителя" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Комментарий к заявке" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="HandlingChargesType" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Тип погрузочно-разгрузочных работ" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="ExchangeReference1" type="xs:string" />
              <xs:element name="ExchangeReference2" type="xs:string" />
              <xs:element name="ExchangeReference3" type="xs:string" />
              <xs:element name="ExchangeReference4" type="xs:string" />
              <xs:element name="ExchangeReference5" type="xs:string" />
              <xs:element name="ExchangeReference6" type="xs:string" />
              <xs:element name="ExchangeReference7" type="xs:string" />
              <xs:element name="ExchangeReference8" type="xs:string" />
              <xs:element name="ExchangeReference9" type="xs:string" />
              <xs:element name="ExchangeReference10" type="xs:string" />
              <xs:element name="PaymentType" type="xs:int" />
              <xs:element name="TotalAmount" type="xs:decimal" />
              <xs:element name="DeliveryCost" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="1" name="Comments">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Список комментариев к заявке" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:recordInfo notes="Комментарий к заявке" />
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="1" name="Type">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Тип комментария" />
                              </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="10" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="1" maxOccurs="1" name="Text">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Текст комментария" />
                              </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="250" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Date">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Дата комментария" />
                              </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:dateTime">
                                <xs:minInclusive value="1753-01-01T00:00:00.000" />
                                <xs:maxInclusive value="2999-01-01T00:00:00.000" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="1" name="Person">
                            <xs:annotation>
                              <xs:appinfo>
                                <b:fieldInfo notes="Пользователь внесший комментарий" />
                              </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="20" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NewProject" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный новый код проекта клиента" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="NewStock" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Уникальный новый код склада" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="UpdateOrder" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Флаг для обновления заявки" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="MarketplaceCode1" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Идентификатор заказа маркетплейса 1" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="MarketplaceCode2" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Идентификатор заказа маркетплейса 2" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="MarketplaceCode3" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Идентификатор заказа маркетплейса 3" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="ShipmentRows">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Строки отгрузки" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="ShipmentRow">
                <xs:annotation>
                  <xs:appinfo>
                    <b:recordInfo notes="Информация по строке" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="LineNo" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код строки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="LineGUID" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Уникальный идентификатор строки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="GoodsItemCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Внутренний код товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="Article" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Артикул товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="CustomerItemCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код товара в системе клиента" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Barcode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Штрихкод товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="GoodsName" type="xs:string" />
                    <xs:element minOccurs="0" name="ItemExchangeTemplateCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код обмена шаблона создания новых товаров" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="UOM" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Единица измерения" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Количество" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField1" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные (поле 1)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные (поле 2)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField3" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные (поле 3)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField4" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные (поле 4)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField5" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные (поле 5)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField6" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные (поле 6)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField7" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные (поле 7)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField8" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные (поле 8)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField9" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные (поле 9)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ExtField10" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Расширенные данные (поле 10)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ItemGroup" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Товарная группа" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ItemSerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Серийный номер товара" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Серийный номер грузоместа" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ParentSerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Серийный номер грузоместа, к которому принадлежит вложение" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BestBeforeDate" type="xs:dateTime">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Срок годности" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер партии (Технический лот)" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BatchCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер партии" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField1" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Поле лота 1" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Поле лота 2" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField3" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Поле лота 3" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField4" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Поле лота 4" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotField5" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Поле лота 5" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="LotCostCenter" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PlanType" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Тип плановой поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="PlanNumber" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер плановой поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="PlanLine" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер строки плановой поставки." />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Price" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Цена реализации за 1 единицу товара без НДС" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Amount" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Стоиомсть строки без НДС" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="PriceInclVAT" type="xs:decimal">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Цена реализации за 1 единицу товара с НДС" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="AmountInclVAT" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Стоимость строки с НДС" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="VAT" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Ставка НДС" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ShipToAddressCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код адреса поставки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Комментарий строки отгрузки." />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="KeepingTimeType" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Тип срока годности" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="BinCode" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Код ячейки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="LotBlockingReasonExternalCode" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="NewCostCenter" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="VendorSerialNo" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Серийный Номер Поставщика" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="GoodsName2" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Наименование товара2" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="New_LotField1" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="New_LotField2" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="New_LotField3" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="New_LotField4" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="New_LotField5" type="xs:string" />
                    <xs:element name="PO" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="PO" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="PO_LineNo" type="xs:int">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Номер строки PO" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ItemGUID" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <b:fieldInfo notes="Уникальный идентификатор строки" />
                        </xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="CarInfo">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Информация о машине" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Driver" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Водитель" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CarMark" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Марка машины" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="CarNo" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Номер машины" />
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="PlanEntranceDate" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="License" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DriverPhoneNumber" type="xs:string" />
              <xs:element name="Comment" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="PermitGUID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="InnerCheck">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ReporterSender" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ReporterEmail" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ReporterPhone" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="OriginalPartID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="SenderSubject" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
